@import "tailwindcss";

:root {
  /* --background: #1e1e1c; */
  --background: #dfdede;
  --foreground: #dfdede;

  --imscrvena: #b2262c;
  --crna: #10100f;
  --papir: #eae4d5;
  --papirbg: #f2f0ef;
  --brown: "#4b4239";
  --darkred: "#bb5943";
  --brownlight1: "#6f6861;";
  --brownlight2: "#a5a19c";
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #1e1e1c;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "PFAgora", Arial, Helvetica, sans-serif;
}

/* Compass needle */

.needle {
  rotate: 51deg;
  animation: swing 4s ease-in-out infinite;
}

@keyframes swing {
  0% {
    transform: rotate(30deg);
  }
  20% {
    transform: rotate(-25deg);
  }
  40% {
    transform: rotate(15deg);
  }
  60% {
    transform: rotate(-10deg);
  }
  80% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(30deg);
  }
}
